.container {
  margin: 5% 5% 2% 5%;
}
.ico {
  display: flex;
}
.titulo {
  display: flex;
  text-align: center;
  margin: 3px;
  padding: 3px;
}
.hero {
  text-align: center;
  padding: 2rem;
  background-color: #f5f5f5;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.product {
  text-align: center;
  margin: 1rem;
  flex: 1 0 300px;
}

.product img {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}

.price {
  font-weight: bold;
  color: #333;
}
@media (max-width: 768px) {
  nav ul {
    text-align: center;
    margin-top: 10px;
  }
  .featured-products {
    flex-direction: column;
    align-items: center;
  }
}
.product-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.product {
  text-align: center;
  margin: 1rem;
  flex: 1 0 300px;
}

.product img {
  width: 50%;
  max-width: 90px;
  border-radius: 5px;
}

.price {
  font-weight: bold;
  color: #333;
}
.btn {
  border: solid 1px #333;
}
.btn:hover {
  background-color: #33333321;
}
.produtos {
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.car {
  font-family: sans-serif;
  font-size: 10px;
  border: 1px solid #9090904f;
  border-radius: 5px;
  color: #33333368;
}
.car:hover {
  background-color: #9393934d;
}
.car:active{
  background-color: #33333321;
  
}
